*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: blanchedalmond;
    /*https://www.heropatterns.com*/
    background-color: #474649;
background-image: url("data:image/svg+xml,%3Csvg width='48' height='32' viewBox='0 0 48 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231dec1a' fill-opacity='0.4'%3E%3Cpath d='M27 32c0-3.314 2.686-6 6-6 5.523 0 10-4.477 10-10S38.523 6 33 6c-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 6.627 0 12 5.373 12 12s-5.373 12-12 12c-2.21 0-4 1.79-4 4h-2zm-6 0c0-3.314-2.686-6-6-6-5.523 0-10-4.477-10-10S9.477 6 15 6c3.314 0 6-2.686 6-6h-2c0 2.21-1.79 4-4 4C8.373 4 3 9.373 3 16s5.373 12 12 12c2.21 0 4 1.79 4 4h2z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color: blanchedalmond;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

/*NAVEGACION*/
.nav-main{
    font-size: 17px;
    display: flex;/*nos permite organizar los elementos*/
    justify-content: space-between;/*se utiliza todo el ancho disponible*/
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand{
    width: 50px;
}

/*NAV LEFT*/
.nav-main ul{
    display: flex;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a{
    padding: 5px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid #ffffff;/*para que me aparezca el subrayado en los link*/
}

.nav-main ul.nav-menu{
    flex:1;
    margin-left:20px ;/*para que me deje el espaciado del lado de la imagen*/
}
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    font-size: 1.5rem;
    z-index: 2;
    display: none;
}
/*SHOWCASE*/
hr{
    margin:10px 0;
}
.showcase{
    width: 100%;
    height: 330px;
    background: url(./img/showcase.jpg) no-repeat center center/cover;
    padding:50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight:bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0;
}
.btn:hover{
    opacity: .5;/*efecto cuando selecciono el boton*/
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/*NEWS CARDS*/
.news-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;/*espaciado entre columnas*/
    margin: 10px 0;
}
.news-cards img{
    width: 100%;
    height: 250px;
}

.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a{
    padding: 10px 0;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.news-cards a:hover{
    text-decoration: underline;
}
/*https://www.pexels.com/    para imagenes buena calidad*/
/*CARDS BANNER ONE*/
.cards-banner-one{
    width: 100%;
    height: 300px;
    background: url(./img/banner1.jpeg) no-repeat center;
    margin-bottom: 40px;    
}

.cards-banner-one .content{    
     width: 40%;
    padding: 90px 0 0 30px;
    color: black;
}
.cards-banner-one p,
.cards-banner-one h2{
    margin: 10px 0 20px 0;
}

/*CARDS BANNER TWO*/
.cards-banner-two{
    width: 100%;
    height: 300%;
    /*background: url(./img/banner2.jpeg) no-repeat center center/cover;*/
    margin-bottom: 40px;
}

.cards-banner-two .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: black;
}
.cards-banner-two p,
.cards-banner-two h2{
    margin: 10px 0 20px 0;
}

/*Social*/
.social{
    margin:50px
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    margin: 0 30px;
}
.links a i{
    font-size: 3rem;
}

/*FOOTER LINKS*/
.footer-links{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 2.8;
}

.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width:700px){
    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;/*para que este  por encima de todo*/
        top: 0;/*para que este en la esquina*/
        left: 0;/*para que este a la izq*/
        background: #2f3640;
        height: 100%;
        transform: translateX(-400px);/*para que quede bien a la izq*/
        transition: transform .5s ease-in-out;
        padding: 30px;
        opacity: .9;
    }
    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }
    .nav-main ul.nav-menu-right{
        margin-right: 40px;
    }

    .news-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-banner-one .content,
    .cards-banner-two .content
    {
        width: 80%;
    }

    .footer-links .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px){
    .news-cards{
        grid-template-columns: 1fr;
    }   
    .news-cards img{
        height: 270px;
    } 
    .cards-banner-one .content,
    .cards-banner-two .content
    {
        width: 100%;
        padding: 60px 20px;
    }
    .footer-links .footer-container{
        grid-template-columns: 1fr;
    }

}